body{
  font-size: 35px;
  text-align: center;
  position: fixed; 
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  background-image: url("../images/man-and-little-girl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
}
h1{
  color: white;
  background-color:rgba(0,0,0,.6);
}
label{
  color: white;
  background-color:rgba(0,0,0,.6);
}
li{
  font-size: 20px
}


@media screen and (max-width: 460px) {
body {
  background-repeat: no-repeat;
  background-position: center;
 
}
}

